body {
  background: url("/images/auth/topbg.png") no-repeat fixed top;
  background-color: #00113F;
}

.content .title h4 {
  color: #F4CA52;
  font-weight: 600;
}

.content label {
  font-weight: 600;
}

.content .error input {
  border: 1px solid #96201C;
}

.content .error i {
  color: #96201C;
  font-size: 18px;
  position: absolute;
  right: 10px;
  margin-top: 9px;
}

.content .error .errorMessage {
  color: #ffffff;
  background-color: #96201C;
  width: 200px;
  position: absolute;
  right: -210px;
  top: 33px;
  line-height: 1;
  border-radius: 3px;
}

.content .error .errorMessage:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -16px;
  right: auto;
  top: 15px;
  bottom: auto;
  border: 8px solid;
  border-color: #96201C #96201C transparent transparent;
}

.content i,
.content .errorMessage {
  display: none;
}

.content input,
.content select {
  width: 100%;
  background-color: #0F2B75;
  border: 1px solid #3448E5;
  border-radius: 7px;
  padding: 10px;
  color: #ffffff;
}

.content input[type=number]::-webkit-inner-spin-button,
.content input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.content button {
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #BE9834), to(#F4CA52));
  background: linear-gradient(to right, #BE9834 10%, #F4CA52);
  color: #46350D;
  border: none;
  font-weight: 600;
  font-size: 16px;
  padding-right: 70px;
  padding-left: 70px;
}

.content button:hover {
  color: #ffffff;
}

.content input:focus,
.content select:focus,
.content button:focus {
  box-shadow: none;
  outline: none;
}

