// Variables
@import '../variables';

body {
    background: url('/images/auth/topbg.png') no-repeat fixed top;
    background-color: $body-bg;
}

.content {
    .title {
        h4 {
            color: $gold;
            font-weight: 600;
        }
    }
    label {
        font-weight: 600;
    }
    .error {
        input {
            border: 1px solid $error-red;
        }
        i {
            color: $error-red;
            font-size: 18px;
            position: absolute;
            right: 10px;
            margin-top: 9px;
        }
        .errorMessage {
            color: $white;
            background-color: $error-red;
            width: 200px;
            position: absolute;
            right: -210px;
            top: 33px;
            line-height: 1;
            border-radius: 3px;
        }
        .errorMessage:before {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            left: -16px;
            right: auto;
            top: 15px;
            bottom: auto;
            border: 8px solid;
            border-color: $error-red $error-red transparent transparent;
        }
    }
    i, .errorMessage {
        display: none;
    }
    input, select {
        width: 100%;
        background-color: $lighter-dark-blue;
        border: 1px solid $input-blue-border;
        border-radius: 7px;
        padding: 10px;
        color: $white;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    button {
        background: linear-gradient(to right, #BE9834 10%, $gold);
        color: $dark-gold;
        border: none;
        font-weight: 600;
        font-size: 16px;
        padding-right: 70px;
        padding-left: 70px;
    }
    button:hover {
        color: $white;
    }
    input:focus, select:focus, button:focus {
        box-shadow: none;
        outline: none;
    }
}