// Variables
@import '../variables';

body {
    background: url('/images/auth/topbg.png') no-repeat fixed top;
    background-color: $body-bg;
}

.content {
    .title {
        h4 {
            color: $gold;
            font-weight: 600;
        }
    }
    .screen {
        img {
            width: 100%;
        }
    }

    .description {
        .token {
            div {
                width: 50px;
            }
            input[type='radio'] {
                -webkit-appearance: none;
                width: 23px;
                height: 23px;
                border-radius: 50%;
                outline: none;
                border: 3px solid #1F2C9E;
                cursor: pointer;
                background-color: $lighter-dark-blue;
            }
            input[type='radio']:checked {
                background-color: $yellow;
            }
            span {
                position: absolute;
            }
        }
        h4 {
            font-weight: 600;
        }
        small {
            color: $gray;
        }
        .tracker {
            background-color: #091250;
            p {
                font-size: 12px;
            }
            a {
                font-size: 13px;
            }
            a:hover {
                color: $gold;
            }
        }
        .seeMore {
            color: $gold;
            font-size: 14px;
        }
        .seeMore:hover {
            color: $gold;
        }
    }
}
