// Variables
@import '../variables';

body {
    background: url('/images/auth/topbg.png') no-repeat fixed top;
    background-color: $body-bg;
}

.content {
    .title {
        h4 {
            color: $gold;
            font-weight: 600;
        }
    }
    label {
        font-weight: 600;
        span {
            color: $gray;
            font-weight: normal;
            font-size: 15px;
        }
    }
    input, select {
        width: 100%;
        background-color: $lighter-dark-blue;
        border: 1px solid $input-blue-border;
        border-radius: 7px;
        padding: 10px;
        color: $white;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    select {
        display: block;
        color: $white;
        line-height: 1.3;
        width: 100%;
        height: 46px;
        max-width: 100%;
        box-sizing: border-box;
        margin: 0;
        border: 1px solid $input-blue-border;
        box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
        border-radius: 7px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: $lighter-dark-blue;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto, 100%;
        cursor: pointer;
    }
    select::-ms-expand {
        display: none;
    }
    input:focus, select:focus {
        box-shadow: none;
        outline: none;
    }
    .select-id {
        width: 32.5% !important;
    }
    .uploadId {
        width: 32.5%;
        border: 1px solid $input-blue-border;
        height: 120px;
        .dasahedDiv {
            border: dashed 1px $gray;
            width: 100%;
            height: 100%;
            .label, .label2 {
                color: $white;
                font-weight: 500;
                font-size: 14px;
                position: absolute;
                z-index: -1;
                margin-left: 25px;
            }
            .label {
                margin-top: 40px;
            }
            .label2 {
                margin-top: 30px;
            }
            input {
                opacity: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
        }
    }
    .uploadedImage, .uploadedImage2 {
        border: 1px solid $input-blue-border;
        button {
            background-color: $lighter-dark-blue;
            border-radius: 5px;
            border: none;
            position: absolute;
            img {
                width: 15px;
            }
        }
        button:hover {
            background: linear-gradient(to right, #BE9834, $gold);
        }
        .userImage {
            width: 334px;
            height: auto;
            background-color: $body-bg;
        }
    }
    .uploadedImage button {
        left: 29.5%;
    }
    .uploadedImage2 button {
        left: 63.7%;
    }
    .max span {
        font-size: 15px;
    }
    .submitButton {
        background: linear-gradient(to right, #BE9834 10%, $gold);
        color: $dark-gold;
        border: none;
        border-radius: 5px;
        font-weight: 600;
        font-size: 16px;
        padding-right: 70px;
        padding-left: 70px;
    }
    .submitButton:hover {
        color: $white;
    }
    button:focus {
        box-shadow: none;
        outline: none;
    }
}
